カフェ一覧ページ

<% @cafes.each do |cafe| %>
  <div>
    <p>カフェの名前<%= cafe.name %></p>
    <p>住所<%= cafe.address %></p>
    <p>営業時間<%= cafe.business_hours %></p>
    <p>カフェの評価<%= cafe.rate%></p>
    <!-- その他の投稿情報を表示する -->
  </div>
<% end %>