<h2>ようこそ<storng>Search For Favorite</storng>へ</h2>
<h3>あなたの理想とするカフェ探しをお手伝いします！</h3>

新着カフェ一覧
<% @cafes.each do |cafe| %>
  <p>カフェの名前<%= cafe.name %></p>
  <p>カフェの住所<%= cafe.address %></p>
  <p>評価<%= cafe.comment.score %></p>
  <p>評価<%= cafe.comment.score %></p>
<% end %>